*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	overflow: hidden;
  }


img{
	margin-top:75px;
	margin-left: 75px;
	width: 100%;
	max-width: 290px;
}

.box1-container{
	width: 100%;
	background-color: black;
	color:aliceblue;
	text-align: center;
	justify-content: center;
	border-bottom-right-radius: 100% ;
}

.box1{
	margin-top: 200px;
}


.box2{
	width: 100%;
	margin-top: 100px;
	color:rgb(50, 78, 104);
	text-align: center;
}
.box2-s{
	width: 100%;
	
	color:rgb(50, 78, 104);
	text-align: center;
}

.btn:hover {
	background-color: #5292ff;
  }

.btn {
	width: 150px;
	background-color: black;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
  }
  
  .btn.transparent {
	margin: 10px;
	background: none;
	border: 2px solid #fff;
	width: 130px;
	height: 41px;
	font-weight: 600;
	font-size: 0.8rem;
  }


  form {
	
  margin: 0;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

  .input-field {
  max-width: 380px;
  min-width: 150px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

@media screen and (max-width: 700px) {
	.container {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
  }

  .box1{
	  margin-top: 3px;
  }
  .box2{
	  margin-top: 0;
  }
img{
	display: none;
}
.v{
	display: none;
}

  .box1-container{
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
  }
}