.con{
    width:400px;
    margin:auto;
    display: flex;
    flex-direction: column;
}



#featured{
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    cursor: pointer;
    border: 2px solid black;
}

.thumbnail{
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
}

.thumbnail:hover{
    opacity:1;
}

.active{
    opacity: 1;
}

#slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#slider{
    width:440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

#right{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.arrow:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
}